<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nlt.mapper.ClassPeriodMapper">
    <select id="selectActiveList" resultType="com.nlt.domain.entity.ClassPeriodEntity">
        select *
        from class_period
        where status = 1
        order by sort_order asc, period_no asc, id asc
    </select>

    <select id="selectById" resultType="com.nlt.domain.entity.ClassPeriodEntity">
        select *
        from class_period
        where id = #{id}
    </select>
</mapper>

