<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nlt.mapper.LabOpenRuleMapper">
    <select id="selectList" resultType="com.nlt.domain.entity.LabOpenRuleEntity">
        select *
        from lab_open_rule
        where 1 = 1
        <if test="labId != null">
            and lab_id = #{labId}
        </if>
        <if test="weekday != null">
            and weekday = #{weekday}
        </if>
        order by id desc
    </select>

    <select id="selectById" resultType="com.nlt.domain.entity.LabOpenRuleEntity">
        select *
        from lab_open_rule
        where id = #{id}
    </select>

    <insert id="insert"
                    parameterType="com.nlt.domain.entity.LabOpenRuleEntity"
                    useGeneratedKeys="true"
                    keyProperty="id">
        insert into lab_open_rule(
            lab_id,
            weekday,
            start_time,
            end_time,
            allow_student,
            allow_teacher,
            max_reservation_hours,
            status
        )
        values(
            #{labId},
            #{weekday},
            #{startTime},
            #{endTime},
            #{allowStudent},
            #{allowTeacher},
            #{maxReservationHours},
            #{status}
        )
    </insert>

    <update id="update" parameterType="com.nlt.domain.entity.LabOpenRuleEntity">
        update lab_open_rule
        set lab_id = #{labId},
                weekday = #{weekday},
                start_time = #{startTime},
                end_time = #{endTime},
                allow_student = #{allowStudent},
                allow_teacher = #{allowTeacher},
                max_reservation_hours = #{maxReservationHours},
                status = #{status}
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from lab_open_rule
        where id = #{id}
    </delete>
</mapper>
